<section class="intro">
  <div class="containar">
    <div class="layer ">
      <div class="text">
        <div class="home-content text-white ">
          <h1> HAPI <span class="Sub">Source of life for <span class="sec-sub"></span> </span></h1>
          
          <button class="btn px-2"><a href="../../assets/Factsheet Hapi_EN_240925.pdf" download="Nile Cruise Hapi-5">Download
              File</a></button>
        </div>

      </div>
    </div>


  </div>
  <app-intro></app-intro>
</section>

<section class="About my-5 py-5">
  <div class="container text-center">

    <div class="section-con pb-4">
      <div class="section-title text-center">
        <h2 data-bigletter="A">About</h2>
        <p>Small city that can provide itself with own restaurant, own backery, bar,
          entertainpment, swimming pool.
        </p>
        <hr>
      </div>
    </div>
    <div class="main-body py-5">
      <div class="row">
        <div class="col-lg-1">
          <div class="ship"></div>
        </div>
        <div class="col-lg-11">

          <div class="about-info text-start">
            <p>
              Source of life for people, animals and plants and the god of the Nile. Described as the
              reason for life and peace, the destroyer of darkness, the irrigator of the fields of Ra and
              the creator of grain. Prayers for glorification are many. It represents the fascination and
              power of the Nile in many myths.


            </p>
            <p>
              Hapi V sail across the Nile with ca. 700 tons, a length of 72 meters and a heigth of ca. 14
              meters. Breit 14 metersIt seems like a small city that can provide itself with own
              restaurant, own backery, bar, entertainpment, swimming pool and Spa. 3 generators are
              providing the small city with electricity. Each for 8 hours. Around 80 employees are
              responsible for your comfort, your safety and care ..
              The Nile Cruise travels between Luxor and Aswan covering a distance of 230 km one way and
              takes 15 tons / Liters of gas.



            </p>

          </div>
        </div>



      </div>
    </div>
  </div>
</section>
<section class="Gallery text-center my-5">
  <div class="container">
    <div class="section-con pb-4">
      <div class="section-title  text-center">
        <h2 data-bigletter="G">GALLERY</h2>
        <p>Explore the wonders of the ancient Egyptian world in luxury and historic charm on
          the Nile
          Cruise by Walton Hotels & Resorts.</p>
        <hr>
      </div>
    </div>




    <div class="d-flex justify-content-center">
      <ul class="nav nav-pills mb-3 mx-auto" id="pills-tab" role="tablist">
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link active tag" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Gallery</button>
        </li> -->
        <li class="nav-item" role="presentation">
          <button class="nav-link active tag" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Lounge Bar</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link  tag" id="1" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="Dahabeya" aria-selected="false">Rooms</button>
        </li>
       
        <li class="nav-item " role="presentation">
          <button class="nav-link tag tag1" id="3" data-bs-toggle="pill" data-bs-target="#pills-work"
            type="button" role="tab" aria-controls="Twin" aria-selected="false">King Farouq Corner
            </button>
        </li>
        <li class="nav-item " role="presentation">
          <button class="nav-link tag tag1" id="4" data-bs-toggle="pill" data-bs-target="#pills-workk"
            type="button" role="tab" aria-controls="Sun" aria-selected="false">Sun Deck
            </button>
        </li>
        <li class="nav-item " role="presentation">
          <button class="nav-link tag tag1" id="5" data-bs-toggle="pill" data-bs-target="#pills-workkk"
            type="button" role="tab" aria-controls="Sun" aria-selected="false">Restaurant
            </button>
        </li>
      </ul>
    </div>
    <div class="tab-content images pt-4" id="pills-tabContent">
      
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="1">
        <div class="row">
          <div class="col-md-4">
            <div class="work-item " data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img  class="Rooms "
                src="../../assets/Nile cruise/King Size Cabin Curtains Closed/HAPI V Cruise-217.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Rooms</p>
                  <h4>The rooms have approximately 22 m² and are equipped with a king-size bed or twin beds and
                    comfortable seating area. </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Rooms "
                src="../../assets/Nile cruise/King Size Cabin Curtains Closed/HAPI V-68.webp" alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Rooms</p>
                  <h4>The rooms have approximately 22 m² and are equipped with a king-size bed or twin beds and
                    comfortable seating area. </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Rooms "
                src="../../assets/Nile cruise/Twin Cabin During Sailing/HAPI V Cruise-135.webp" alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Rooms</p>
                  <h4>The rooms have approximately 22 m² and are equipped with a king-size bed or twin beds and
                    comfortable seating area. </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Rooms "
                src="../../assets/Nile cruise/King Size Cabin Curtains Closed/HAPI V-66.webp" alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Rooms</p>
                  <h4>The rooms have approximately 22 m² and are equipped with a king-size bed or twin beds and
                    comfortable seating area. </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Rooms "
                src="../../assets/Nile cruise/Twin Cabin During Sailing/HAPI V Cruise-137.webp" alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Rooms</p>
                  <h4>The rooms have approximately 22 m² and are equipped with a king-size bed or twin beds and
                    comfortable seating area. </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Rooms " src="../../assets/Nile cruise/Twin Cabin Curtains Closed/HAPI V-37.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Rooms</p>
                  <h4>The rooms have approximately 22 m² and are equipped with a king-size bed or twin beds and
                    comfortable seating area. </h4>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Lounge" src="../../assets/Nile cruise/Lounge Bar/HAPI V Cruise-43.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Lounge Bar</p>
                  <h4>Relax with a glass of wine, the bar experience on a Nile cruise is a highlight of the journey.
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Lounge" src="../../assets/Nile cruise/Lounge Bar/HAPI V Cruise-238.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Lounge Bar</p>
                  <h4>Relax with a glass of wine, the bar experience on a Nile cruise is a highlight of the journey.
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Lounge"
                src="../../assets/Nile cruise/King Size Cabin Curtains Closed/HAPI V-56.webp" alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Lounge Bar</p>
                  <h4>Relax with a glass of wine, the bar experience on a Nile cruise is a highlight of the journey.
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-work" role="tabpanel" aria-labelledby="3">
        <div class="row">
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="King" src="../../assets/Nile cruise/King Farouq Corner/HAPI V-8.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">King Farouq Corner</p>
                  <h4>Our corner is designed to offer both comfort and a touch of luxury</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="King" src="../../assets/Nile cruise/Stairs & Open Areas/HAPI V Cruise-27.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">King Farouq Corner</p>
                  <h4>Our corner is designed to offer both comfort and a touch of luxury</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="King" src="../../assets/Nile cruise/Stairs & Open Areas/HAPI V Cruise-28.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">King Farouq Corner</p>
                  <h4>Our corner is designed to offer both comfort and a touch of luxury</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-workk" role="tabpanel" aria-labelledby="4">
        <div class="row">
         
         
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Sun " src="../../assets/Nile cruise/Sun Deck Tea Time/HAPI V Cruise-203.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Perfect for enjoying a meal under the stars or during the day with views of the passing scenery.
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Sun " src="../../assets/Nile cruise/Sun Deck Tea Time/HAPI V Cruise-198.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Perfect for enjoying a meal under the stars or during the day with views of the passing scenery.
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Sun " src="../../assets/Nile cruise/Sun Deck/HAPI V Cruise-241.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Perfect for enjoying a meal under the stars or during the day with views of the passing scenery.
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="pills-workkk" role="tabpanel" aria-labelledby="4">
        <div class="row">
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Restaurant " src="../../assets/Nile cruise/Restaurant Waiting Area/791A0469.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Restaurant</p>
                  <h4>Let yourself be pampered tastefully on the Nile in our elegant restaurants that provide a blend of local Egyptian cuisine and international dishes
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Restaurant " src="../../assets/Nile cruise/Restaurant Waiting Area/791A0514.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Restaurant</p>
                  <h4>Let yourself be pampered tastefully on the Nile in our elegant restaurants that provide a blend of local Egyptian cuisine and international dishes
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img class="Restaurant " src="../../assets/Nile cruise/Restaurant Waiting Area/791A0424.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Restaurant</p>
                  <h4>Let yourself be pampered tastefully on the Nile in our elegant restaurants that provide a blend of local Egyptian cuisine and international dishes
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Restaurant " src="../../assets/Nile cruise/Restaurant Waiting Area/791A0392.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Restaurant</p>
                  <h4>Let yourself be pampered tastefully on the Nile in our elegant restaurants that provide a blend of local Egyptian cuisine and international dishes
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item ">
              <img  class="Restaurant " src="../../assets/Nile cruise/Restaurant Waiting Area/791A0530.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Restaurant</p>
                  <h4>Let yourself be pampered tastefully on the Nile in our elegant restaurants that provide a blend of local Egyptian cuisine and international dishes
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cover-modul close">
    <div id="imageModal" class="modal ">
      <span class="close">&times;</span>
      <img loading="lazy" class="modal-content w-70" id="modalImage">
      <div id="caption"></div>
    </div>

  </div>
</section>

<section class="table-sc my-5 py-5">
  <div class="container text-center">
    <div class="section-con ">
      <div class="section-title  text-center">
        <h2 data-bigletter="I">Itinerary</h2>
        <p>You will find yourself in a natural landscape and culture far away from the hustle of life.
        </p>
        <hr>
       
      </div>
    </div>
  
      <div class="section-con ">
        <div class="section-title  text-center p-3">
          <h2 >4 Nights Luxor - Aswan 
          </h2>
        </div>
      </div>
    <table class="mt-4  rwd-table">

      <tbody>
        <!-- Day1 -->
        <tr>
          <th>Days</th>
          <th scope="col" colspan="2">12:00 p.m</th>
          <th scope="col" colspan="2">1:00 p.m</th>
          <th scope="col" colspan="2">2:00 p.m</th>
          <th scope="col" colspan="2">07:30 p.m</th>


        </tr>
        <tr>
          <td>D-1</td>
          <td colspan="2">Embarkation</td>
          <td colspan="2">Lunch time on board </td>
          <td colspan="2">Visit East Bank the Luxor and Karnak Temples</td>
          <td colspan="2">Dinner on board and Music in the bar
          </td>
          
        </tr>

        <!-- Day2 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">6:00 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">2:00 p.m</th>
          <th scope="col" colspan="1">5:00 p.m</th>
          <th scope="col" colspan="1">7:00 p.m</th>
          <th scope="col" colspan="1">7:30 p.m</th>
          <th scope="col" colspan="1">10:00 p.m</th>
        </tr>
        <tr>
          <td>D-2</td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="1">Visit the West Bank </td>
          <td colspan="1">Lunch time on board</td>
          <td colspan="1">Free time on board and enjoing sail to Edfu via Esna </td>
          <td colspan="1">Tea and coffee on sun deck during sailing </td>
          <td colspan="1">Dinner on board</td>
          <td colspan="1">Welcome and cocktail party</td>
          <td colspan="1">Crossing Esna lock Overnight in Edfu</td>

        </tr>

        <!-- Day3 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">6:00 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="1">10:00 a.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">5:00 p.m</th>
          <th scope="col" colspan="1">5:30 p.m</th>
          <th scope="col" colspan="1">7:30 p.m</th>
          <th scope="col" colspan="1">9:00 p.m</th>
        </tr>
        <tr>
          <td>D-3</td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="1">Visit the Temple of Edfu </td>
          <td colspan="1">Sail to Kom Ombo</td>
          <td colspan="1">Lunch time during sailing</td>
          <td colspan="1">Tea and coffee on sun deck during sailing
          </td>
          <td colspan="1">Visit the Temple of Kom Ombu
          </td>
          <td colspan="1">BBQ on deck during enjoing sailing to Aswan</td>
          <td colspan="1">Galabia party in the bar Overnight in Aswan</td>

        </tr>


        <!-- Day4 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">3:00 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="2">9:00 a.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">3:30 p.m</th>
          <th scope="col" colspan="2">7:30 p.m</th>
        </tr>
        <tr>
          <td>D-4</td>
          <td colspan="1">Breakfast box </td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="2">Visit the High Dam and Philae Temple</td>
          <td colspan="1">Lunch on board</td>
          <td colspan="1">Visit to Botanical Garden by Feluca</td>
          <td colspan="2">Oriental dinner on board with nubian show in the bar</td>

        </tr>





        <!-- Day5 -->
        <tr>
          <th></th>
          <th scope="col" colspan="4">6:00 a.m</th>
          <th scope="col" colspan="4">8:00 p.m</th>



        </tr>
        <tr>
          <td>D-5</td>
         
          <td colspan="4">Breakfast on board
          </td>
          <td colspan="4">Desembarkatio</td>

        </tr>


     




      </tbody>
    </table>

    <div class="section-con ">
      <div class="section-title  text-center p-3">
        <h2 >4 Nights  Aswan -Luxor 
        </h2>
      </div>
    </div>
    <table class="mt-4  rwd-table">

      <tbody>
        <!-- Day1 -->
        <tr>
          <th>Days</th>
          <th scope="col" colspan="2">12:00 p.m</th>
          <th scope="col" colspan="4">1:00 p.m</th>
          <th scope="col" colspan="4">07:30 p.m</th>


        </tr>
        <tr>
          <td>D-1</td>
          <td colspan="2">Embarkation</td>
          <td colspan="4">Lunch time on board </td>
          <td colspan="4">Dinner on board and Music in the bar
          </td>
          
        </tr>

        <!-- Day2 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">3:00 a.m</th>
          <th scope="col" colspan="1">3:30 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">2:00 p.m</th>
          <th scope="col" colspan="1">5:00 p.m</th>
          <th scope="col" colspan="1">5:30 p.m</th>
          <th scope="col" colspan="1">7:00 p.m</th>
          <th scope="col" colspan="1">7:30 p.m</th>
          
          <th scope="col" colspan="1">9:00 p.m</th>
        </tr>
        <tr>
          <td>D-2</td>
          <td colspan="1">Breakfast box and coffee/tea in the bar</td>
          <td colspan="1">Visit the Abu Simble</td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="1">Lunch time on board</td>
          
          <td colspan="1">Sailing to Kom Ombo</td>
          <td colspan="1">Tea and coffee on sun deck during sailing</td>
          <td colspan="1">Visit the Temple of Kom Ombu</td>
          <td colspan="1">Welcome and cocktail party</td>

          <td colspan="1">BBQ on board during enjoing sailing to Edfu</td>
          <td colspan="1">Galabia Party Overnight in Edfu</td>


        </tr>

        <!-- Day3 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">6:00 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="2">8:00 a.m</th>
          <th scope="col" colspan="2">5:00 p.m</th>
          <th scope="col" colspan="2">7:30 p.m</th>
          <th scope="col" colspan="2">9:00 p.m</th>
        </tr>
        <tr>
          <td>D-3</td>
          <td colspan="1">Visit the Temple of Edfu </td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="2">Sailing to Luxor via Esna</td>
          <td colspan="2">Tea and coffee on sun deck during sailing</td>
          <td colspan="2">Oriental dinner on board</td>
          <td colspan="2">Music in the bar with belly dancer show Overnight in Luxor</td>
          

        </tr>


        <!-- Day4 -->
        <tr>
          <th></th>
          <th scope="col" colspan="5">6:00 a.m</th>
          <th scope="col" colspan="5">8:00 p.m</th>



        </tr>
        <tr>
          <td>D-4</td>
         
          <td colspan="4">Breakfast on board
          </td>
          <td colspan="4">Desembarkatio</td>

        </tr>


  

      </tbody>
    </table>
    <div class="section-con ">
      <div class="section-title  text-center p-3">
        <h2 >7 Nights  Luxor -Luxor 
        </h2>
      </div>
    </div>
    <table class="mt-4  rwd-table">

      <tbody>
        <!-- Day1 -->
        <tr>
          <th>Days</th>
          <th scope="col" colspan="2">12:00 p.m</th>
          <th scope="col" colspan="2">1:00 p.m</th>
          <th scope="col" colspan="2">2:00 p.m</th>
          <th scope="col" colspan="2">07:30 p.m</th>


        </tr>
        <tr>
          <td>D-1</td>
          <td colspan="2">Embarkation</td>
          <td colspan="2">Lunch time on board </td>
          <td colspan="2">Visit East Bank the Luxor and Karnak Temples</td>
          <td colspan="2">Dinner on board and Music in the bar
          </td>
          
        </tr>

        <!-- Day2 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">6:00 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">2:00 p.m</th>
          <th scope="col" colspan="1">5:00 p.m</th>
          <th scope="col" colspan="1">7:00 p.m</th>
          <th scope="col" colspan="1">7:30 p.m</th>
          <th scope="col" colspan="1">10:00 p.m</th>
        </tr>
        <tr>
          <td>D-2</td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="1">Visit the West Bank </td>
          <td colspan="1">Lunch time on board</td>
          <td colspan="1">Free time on board and enjoing sail to Edfu via Esna </td>
          <td colspan="1">Tea and coffee on sun deck during sailing </td>
          <td colspan="1">Dinner on board</td>
          <td colspan="1">Welcome and cocktail party</td>
          <td colspan="1">Crossing Esna lock Overnight in Edfu</td>

        </tr>

        <!-- Day3 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">6:00 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="1">10:00 a.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">5:00 p.m</th>
          <th scope="col" colspan="1">5:30 p.m</th>
          <th scope="col" colspan="1">7:30 p.m</th>
          <th scope="col" colspan="1">9:00 p.m</th>
        </tr>
        <tr>
          <td>D-3</td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="1">Visit the Temple of Edfu </td>
          <td colspan="1">Sail to Kom Ombo</td>
          <td colspan="1">Lunch time during sailing</td>
          <td colspan="1">Tea and coffee on sun deck during sailing
          </td>
          <td colspan="1">Visit the Temple of Kom Ombu
          </td>
          <td colspan="1">BBQ on deck during enjoing sailing to Aswan</td>
          <td colspan="1">Galabia party in the bar Overnight in Aswan</td>

        </tr>


        <!-- Day4 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">3:00 a.m</th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="2">9:00 a.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">3:30 p.m</th>
          <th scope="col" colspan="2">7:30 p.m</th>
        </tr>
        <tr>
          <td>D-4</td>
          <td colspan="1">Breakfast box </td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="2">Visit the High Dam and Philae Temple</td>
          <td colspan="1">Lunch on board</td>
          <td colspan="1">Visit to Botanical Garden by Feluca</td>
          <td colspan="2">Oriental dinner on board with nubian show in the bar</td>

        </tr>





        <!-- Day5 -->
        <tr>
          <th></th>
          <th scope="col" colspan="2">3:30 a.m</th>
          <th scope="col" colspan="2">6:00 a.m</th>
          <th scope="col" colspan="2">1:00 p.m</th>
          <th scope="col" colspan="2">7:30 p.m</th>


        </tr>
        <tr>
          <td>D-4</td>
          
          <td colspan="2">Visit the Abu Simble (optional) </td>
          <td colspan="2">Breakfast on board
          </td>
          <td colspan="2">Lunch on board
          </td>
          <td colspan="2">Dinner on board
            Overnight in Aswan
          </td>
        </tr>


        <!-- Day6 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">3:00 a.m</th>
          <th scope="col" colspan="1">7:00 p.m</th>
          <th scope="col" colspan="1">1:00 p.m</th>
          <th scope="col" colspan="1">2:00 p.m</th>
          <th scope="col" colspan="2">5:00 p.m</th>
          <th scope="col" colspan="1">7:00 p.m</th>
          <th scope="col" colspan="1">9:00 p.m</th>
        </tr>
        <tr>
          <td>D-6</td>
          <td colspan="1">Breakfast box </td>
          <td colspan="1">Breakfast on board</td>
          <td colspan="1">Lunch on board</td>
          <td colspan="1">Sailing to Kom Ombo
          </td>
          <td colspan="2">Tea and coffee on sun deck during sailing 
          </td>
          <td colspan="1">Welcome and cocktail party</td>
          <td colspan="1">Galabia Party</td>

        </tr>


        <!-- Day7 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="1">8:00 a.m</th>
          <th scope="col" colspan="2">5:00 p.m</th>
          <th scope="col" colspan="2">07:30 p.m</th>
          <th scope="col" colspan="2">9:00 p.m</th>
        </tr>
        <tr>
          <td>D-7</td>
       
          <td colspan="1">Breakfast on board
          </td>
          <td colspan="1">Sailing to Luxor via Esna

          </td>
          <td colspan="2">Tea and coffee on sun deck during sailing</td>
          <td colspan="2">Oriental dinner on board</td>
          <td colspan="2">Music in the bar with belly dancer show
            Overnight in Luxor</td>

        </tr>


        <!-- Day8 -->
        <tr>
          <th></th>
          <th scope="col" colspan="4">6:00 a.m</th>
          <th scope="col" colspan="4">8:00 p.m</th>


        </tr>
        <tr>
          <td>D-8</td>
          <td colspan="4">Breakfast on board

          </td>
          <td colspan="4">Desembarkatio</td>


        </tr>




      </tbody>
    </table>
  </div>
</section>
<div class="video-container">
  <iframe width=100% height=500
    src="https://www.youtube.com/embed/H-fsIHJkF6c?vq=hd1080"
    frameborder="0" allowfullscreen>
  </iframe>
</div>