<section class="Home mb-5">

  <div class="back"></div>

  <div class="carousel-caption w-100">
    <div class="carousel-text">
      <h2 class="font-poppins animate__slideOutDown pb-3"><span>OUR-</span>STORY</h2>
      <p class="w-100  ">Hotelmanagement and consulting 

      </p>

    </div>

  </div>


</section>
<section class="About my-5 py-5">
  <div class="container text-center">
    <div class="section-con ">
      <div class="section-title  text-center">
        <h2 data-bigletter="O">OUR STORY</h2>
        <p>Walton Hotels Management is a full-service hospitality management and consulting company
          for
          hotels, resorts and nile cruises founded in 2008.</p>
        <hr> <i class="fa-solid fa-anchor"></i>
      </div>
    </div>

    <div class="main-body py-5">
      <div class="row">
        <div class="col-lg-1">
          <div class="ship"></div>
        </div>
        <div class="col-lg-11">
          <div class="about-info text-start">
            <p>We are taking on responsibility for all essential services and operations services associated
              with a successful hotel and are offering highly flexible solutions that cater to individual
              needs. With our creative strategies and best practices we turn around hotels and reposition
              them to outperform their competitors and become local market leaders.
              Our approach to hospitality is a combination of creativity and methodology that allows us to
              develop effective solutions. Currently 40 employees <span class="text-color">are surching
                the guest satisfaction/ providing for the comfort of our guests.</span>
              .</p>

          </div>
        </div>



      </div>
    </div>
  </div>
</section>
<section class="Video w-100">
  <div class="container">
    <div class="background">
      <video autoplay loop oncanplay="this.muted=true" muted id="background-video">
        <source src="../../assets/About/1C2A0751.MP4" type="video/mp4">
      </video>
      <div class="text">
        <h2>
          Enter a world of enjoyment and pleasure.
        </h2>

      </div>
    </div>


  </div>
</section>