<section class="intro">
  <div class="containar">
    <div class="layer ">
      <div class="text">
        <div class="home-content text-white ">
          <h1>Dahabeyas <span class="Sub">are usually</span> <span class="sec-sub"></span></h1>

          <button class="btn px-2"><a href="../../assets/Factsheet Dahabeya_EN_240925pdf.pdf
                        " download="Dahabeya">Download File</a>
          </button>
        </div>

      </div>
    </div>


  </div>
  <app-intro></app-intro>
</section>

<section class="About my-5 py-5">
  <div class="container text-center">
    <div class="section-con ">
      <div class="section-title   text-center">
        <h2 data-bigletter="O">Our Story</h2>
        <p>Dahabeyas have been revived as luxury cruising boats, providing an intimate and leisurely way to explore the
          Nile
        </p>
        <hr>
      </div>
    </div>

    <div class="main-body py-5">
      <div class="row">
        <div class="col-lg-1">
          <div class="ship"></div>
        </div>
        <div class="col-lg-11">

          <div class="about-info text-start">
            <p>
              traditional Egyptian riverboat that has been used for centuries, particularly on the Nile
              River. The name "dahabeya" comes from the Arabic word "dahab," meaning gold, which
              historically referred to the gilded decoration often found on these boats.
              Dahabeyas are usually elegant, shallow-bottomed vessels with two sails and were originally
              used by aristocrats and wealthy travelers during the 19th century to cruise the Nile in
              comfort and style. They are typically powered by the wind and have large, spacious decks
              that offer stunning views of the river and surrounding landscapes.
            </p>
            <p>
              Today, dahabeyas have been revived as luxury cruising boats, providing an intimate and
              leisurely way to explore the Nile. They often feature modern amenities while retaining their
              classic charm, offering an alternative to larger cruise ships. A journey on a dahabeya
              typically includes visits to ancient Egyptian temples, tombs, and other archaeological sites
              along the river, with the advantage of accessing smaller, less crowded locations.

            </p>

          </div>
        </div>



      </div>
    </div>
  </div>
</section>


<section class="table-sc my-5 py-5">
  <div class="container text-center">
    <div class="section-con ">
      <div class="section-title  text-center">
        <h2 data-bigletter="I">Itinerary</h2>
        <p>You will find yourself in a natural landscape and culture far away from the hustle of life.
        </p>
        <hr>
      </div>
    </div>
    <table class="mt-4  rwd-table">

      <tbody>
        <!-- Day1 -->
        <tr>
          <th>Days</th>
          <th scope="col" colspan="1">12:00 p.m</th>
          <th scope="col" colspan="4">01:00 p.m</th>
          <th scope="col" colspan="4">07:30 p.m</th>


        </tr>
        <tr>
          <td>D-1</td>
          <td colspan="1">Check in Esna </td>
          <td colspan="4">Lunch on board
            Sailing to El Hegez Island
          </td>
          <td colspan="4">Dinner on board
            Overnight at El Hegez Island
          </td>

        </tr>



        <!-- Day2 -->
        <tr>
          <th></th>
          <th scope="col" colspan="4">8:00 a.m</th>
          <th scope="col" colspan="2">01:00 p.m</th>
          <th scope="col" colspan="3">07:30 p.m</th>

        </tr>
        <tr>
          <td>D-2</td>
          <td colspan="4">Breakfast on board
            Visit local, traditional house and baTwin bread
            Sailing to Edfu and Visit God Horas temple in Edfu
          </td>
          <td colspan="2">Lunch time on board
            Sailing to Bizau Island

          </td>
          <td colspan="3">BBQ in the island
            Overnight in Bizau Island
          </td>

        </tr>



        <!-- Day3 -->
        <tr>
          <th></th>
          <th scope="col" colspan="3">8:00 a.m</th>
          <th scope="col" colspan="6">01:00 p.m</th>


        </tr>
        <tr>
          <td>D-3</td>
          <td colspan="3">Traditional breakfast in local house on Bizau Island Fishing trip on the Nile

          </td>
          <td colspan="6">Lunch time on board-
            Sailing to Gebel Elselsela and visit ancient quarries of Gebel Elselsela-
            Sailing to Meneha/Mansurea Island-
            Sailing to Kom Ombo Temple

          </td>


        </tr>


        <!-- Day4 -->
        <tr>
          <th></th>
          <th scope="col" colspan="3">8:00 a.m</th>
          <th scope="col" colspan="6">01:00 p.m</th>


        </tr>
        <tr>
          <td>D-4</td>
          <td colspan="3">Breakfast on board
            - Visit in Assuan

          </td>
          <td colspan="6">Lunch time on board
            Visit in Assuan Souk Dinner on board Overnight in Aswan
          </td>


        </tr>





        <!-- Day5 -->
        <tr>
          <th></th>
          <th scope="col" colspan="1">7:00 a.m</th>
          <th scope="col" colspan="1">8:00 a.m</th>
          <th scope="col" colspan="2">12:00 p.m</th>
          <th scope="col" colspan="2">01:00 p.m</th>
          <th scope="col" colspan="3">07:30 p.m</th>

        </tr>
        <tr>
          <td>D-5</td>
          <td colspan="1">Breakfast on board

          </td>
          <td colspan="1">Check out

          </td>
          <td colspan="2">Check in
          </td>
          <td colspan="2">Lunch on board
            - Sailing to Kom Ombo Temple
            - Sailing to Besheer Island

          </td>
          <td colspan="3">Dinner on board
            Overnight in Besheer Island
          </td>

        </tr>


        <!-- Day6 -->
        <tr>
          <th></th>
          <th scope="col" colspan="3">8:00 a.m</th>
          <th scope="col" colspan="6">01:00 p.m</th>


        </tr>
        <tr>
          <td>D-6</td>
          <td colspan="3">Breakfast on board
            - Sailing to Gebel Elselsela and visit ancient quarries of Gebel Elselsela

          </td>
          <td colspan="6">Lunch time on board
            Sailing to El Foza Island
            Dinner on board
            Overnight in El Foza Island
          </td>


        </tr>


        <!-- Day7 -->
        <tr>
          <th></th>
          <th scope="col" colspan="2">6:00 a.m</th>
          <th scope="col" colspan="3">7:00 a.m</th>
          <th scope="col" colspan="1">8:00 a.m</th>
          <th scope="col" colspan="1">5:00 p.m</th>
          <th scope="col" colspan="2">07:30 p.m</th>

        </tr>
        <tr>
          <td>D-7</td>
          <td colspan="2">Breakfast on board

          </td>
          <td colspan="3">Visit God Horos Temple in Edfu


          </td>
          <td colspan="1">Lunch on board

          </td>
          <td colspan="1">Sailing to Esna


          </td>
          <td colspan="2">Dinner on board<br>
            Overnight in Esna


          </td>

        </tr>


        <!-- Day8 -->
        <tr>
          <th></th>
          <th scope="col" colspan="6">8:00 a.m</th>
          <th scope="col" colspan="3">10:00 a.m</th>


        </tr>
        <tr>
          <td>D-8</td>
          <td colspan="6">Breakfast on board

          </td>
          <td colspan="3">Check-out

          </td>


        </tr>




      </tbody>
    </table>
  </div>
</section>
@defer () {
<section class="Gallery text-center my-5">
  <div class="container">
    <div class="section-con pb-4">
      <div class="section-title  text-center">
        <h2 data-bigletter="G">GALLERY</h2>
        <p>Explore the wonders of the ancient Egyptian world in luxury and historic charm on
          the Nile
          Cruise by Walton Hotels & Resorts.</p>
        <hr>
      </div>
    </div>




    <div class="d-flex justify-content-center">
      <ul class="nav nav-pills mb-3 mx-auto" id="pills-tab" role="tablist">
        <!-- <li class="nav-item" role="presentation">
            <button class="nav-link active tag" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">Gallery</button>
          </li> -->
        <li class="nav-item" role="presentation">
          <button class="nav-link tag active" id="1" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
            role="tab" aria-controls="Dahabeya" aria-selected="true">Dahabeya</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tag" id="2" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
            role="tab" aria-controls="pills-contact" aria-selected="false">Queen Cabin</button>
        </li>
        <li class="nav-item " role="presentation">
          <button class="nav-link tag tag1" id="3" data-bs-toggle="pill" data-bs-target="#pills-work" type="button"
            role="tab" aria-controls="Twin" aria-selected="false">Twin Cabin
          </button>
        </li>
        <li class="nav-item " role="presentation">
          <button class="nav-link tag tag1" id="4" data-bs-toggle="pill" data-bs-target="#pills-workk" type="button"
            role="tab" aria-controls="Sun" aria-selected="false">Sun Deck
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content images pt-4" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="1">
        <div class="row">
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <img class="Dahabeya " src="../../assets/Dahabiaya/Outdoor Kom Ombo/HAPI V Cruise-246.webp" alt=""
                srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>You will find yourself in a natural landscape and culture far away from the hustle of life </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Dahabeya " src="../../assets/Dahabiaya/Outdoor- Drone/Ben's-1.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>You will find yourself in a natural landscape and culture far away from the hustle of life </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Dahabeya " src="../../assets/Dahabiaya/Outdoor- Drone/Ben's-8.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>You will find yourself in a natural landscape and culture far away from the hustle of life </h4>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="2">
        <div class="row">
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Queen" src="../../assets/Dahabiaya/Queen Cabin/HAPI V Cruise-16.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Queen Cabin</p>
                  <h4>Through the windows you can enjoy the peace and quiet and the view of the Nile
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Queen" src="../../assets/Dahabiaya/Queen Cabin/HAPI V-90.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Queen Cabin</p>
                  <h4>Through the windows you can enjoy the peace and quiet and the view of the Nile
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Queen" src="../../assets/Dahabiaya/Queen Cabin/HAPI V-91.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Queen Cabin</p>
                  <h4>Through the windows you can enjoy the peace and quiet and the view of the Nile
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-work" role="tabpanel" aria-labelledby="3">
        <div class="row">
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Twin" src="../../assets/Dahabiaya/Twin Cabin/HAPI V Cruise-1.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Twin Cabin</p>
                  <h4>Through the windows you can enjoy the peace and quiet and the view of the Nile</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Twin" src="../../assets/Dahabiaya/Twin Cabin/HAPI V Cruise-8.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Twin Cabin</p>
                  <h4>Through the windows you can enjoy the peace and quiet and the view of the Nile</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Twin" src="../../assets/Dahabiaya/Twin Cabin/HAPI V-96.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Twin Cabin</p>
                  <h4>Through the windows you can enjoy the peace and quiet and the view of the Nile</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-workk" role="tabpanel" aria-labelledby="4">
        <div class="row">

          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Sun " src="../../assets/Dahabiaya/Sun Deck/HAPI V-87.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Spacious decks that offer stunning views of the river and surrounding landscapes.</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Sun " src="../../assets/Dahabiaya/Sun Deck/HAPI V-84.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Spacious decks that offer stunning views of the river and surrounding landscapes.</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Sun " src="../../assets/Dahabiaya/Sun Deck/HAPI V-81.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Spacious decks that offer stunning views of the river and surrounding landscapes.</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Sun " src="../../assets/Dahabiaya/Sun Deck/HAPI V-71.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Spacious decks that offer stunning views of the river and surrounding landscapes.</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-item  position-relative overflow-hidden">
              <img class="Sun " src="../../assets/Dahabiaya/Sun Deck/HAPI V-76.webp" alt="" srcset="">
              <div class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Sun Deck</p>
                  <h4>Spacious decks that offer stunning views of the river and surrounding landscapes.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="cover-modul close">
    <div id="imageModal" class="modal ">
      <span class="close">&times;</span>
      <img loading="lazy" class="modal-content w-70" id="modalImage">
      <div id="caption"></div>
    </div>

  </div>
</section>

}
<section>
  <div class="video-container">
    <iframe width=100% height=500 src="https://www.youtube.com/embed/octiS7VEfp0?vq=hd1080" frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
</section>