<section class="Home mb-5">

  <div class="back"></div>

  <div class="carousel-caption w-100">
    <div class="carousel-text">
      <h2 class="font-poppins animate__slideOutDown pb-3"><span>WALTON</span><br>HOTELS MANGMENT</h2>
      <p class="w-100  ">Enter a world of enjoyment and pleasure.

      </p>
      <div class="fixed-icons" (click)="toggleMusic()">
        <div class="setting-icon text-white">
          <button class="btn px-2">Play Music</button>

        </div>

      </div>
    </div>

  </div>
  <app-intro></app-intro>

</section>


<section class="About my-5 py-5" id="about">
  <div class="container text-center">
    <div class="section-con ">
      <div class="section-title  text-center">
        <h2 data-bigletter="O">OUR STORY</h2>
        <p>Walton Hotels Management is a full-service hospitality management and consulting company
          for
          hotels, resorts and nile cruises founded in 2008.</p>
        <hr> <i class="fa-solid fa-anchor"></i>
      </div>
    </div>

    <div class="main-body py-5">
      <div class="row">
        <div class="col-lg-1">
          <div class="ship"></div>
        </div>
        <div class="col-lg-11">
          <div class="about-info ">
            <p>We are taking on responsibility for all essential services and operations services associated
              with a successful hotel and are offering highly flexible solutions that cater to individual
              needs. With our creative strategies and best practices we turn around hotels and reposition
              them to outperform their competitors and become local market leaders.
              Our approach to hospitality is a combination of creativity and methodology that allows us to
              develop effective solutions. Currently 40 employees <span class="text-color">are surching
                the guest satisfaction/ providing for the comfort of our guests.</span>
              .</p>

          </div>
        </div>



      </div>
    </div>
  </div>
</section>

<section class="Gallery text-center my-5">
  <div class="container">
    <div class="section-con pb-4">
      <div class="section-title  text-center">
        <h2 data-bigletter="G">GALLERY</h2>
        <p>Explore the wonders of the ancient Egyptian world in luxury and historic charm on
          the Nile
          Cruise by Walton Hotels & Resorts.</p>
        <hr>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <ul class="nav nav-pills mb-3 mx-auto" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active tag" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tag" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Nile Cruise</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tag" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-work"
            type="button" role="tab" aria-controls="pills-work" aria-selected="false">Dahabeya</button>
        </li>
        <li class="nav-item " role="presentation">
          <button class="nav-link tag tag1" id="pills-work-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
            type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Banks of the River
            Nile</button>
        </li>

      </ul>
    </div>
    <div class="tab-content images pt-4" id="pills-tabContent">
     
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col-md-4 ">
            <div class="work-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img class="Nile " src="../../assets/Nile cruise/Lounge Bar/HAPI V Cruise-238.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Nile Cruise</p>
                  <h4>It seems like a small city that can provide itself with own restaurant, own
                    backery, bar, entertainpment, swimming pool and Spa</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Nile " src="../../assets/Nile cruise/King Farouq Corner/HAPI V-8.webp" alt="nile cruise Hapi5">
              <div class="layer  ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Nile Cruise</p>
                  <h4>It seems like a small city that can provide itself with own restaurant, own
                    backery, bar, entertainpment, swimming pool and Spa</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Nile " src="../../assets/Nile cruise/Lounge Bar/HAPI V Cruise-30.webp" alt="nile cruise Hapi5">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Nile Cruise</p>
                  <h4>It seems like a small city that can provide itself with own restaurant, own
                    backery, bar, entertainpment, swimming pool and Spa</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Banks " src="../../assets/banks of river Nile/Karnak Temple.webp" alt="luxorAswan">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Karnak Temple</p>
                  <h4>The Karnak Temple is one of the most extraordinary and vast religious sites in
                    the world</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Banks " src="../../assets/banks of river Nile/The Mortuary Temple of Hatshepsut..webp"
                alt="luxorAswan">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Hatshepsut</p>
                  <h4>The Temple of Hatshepsut, also known as Deir el-Bahari, is one of the most
                    remarkable monuments of ancient Egypt</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Banks " src="../../assets/banks of river Nile/Abu Simbel and the Nubian Monuments..webp"
                alt="luxorAswan">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Abu Simbel</p>
                  <h4>Abu Simbel is one of Egypt’s most iconic archaeological sites </h4>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4  ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-79.webp" alt="dahabeya-bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-87.webp" alt="dahabeya bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-71.webp" alt="dahabeya bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-84.webp" alt="dahabeya bin  dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Outdoor- Drone/Bens-2.webp" alt="dahabeya bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col-md-4 ">
            <div class="work-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img class="Nile " src="../../assets/Nile cruise/Lounge Bar/HAPI V Cruise-238.webp"
                alt="nile cruise Hapi5">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Nile Cruise</p>
                  <h4>It seems like a small city that can provide itself with own restaurant, own
                    backery, bar, entertainpment, swimming pool and Spa</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Nile " src="../../assets/Nile cruise/King Farouq Corner/HAPI V-8.webp" alt="nile cruise Hapi5">
              <div class="layer  ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Nile Cruise</p>
                  <h4>It seems like a small city that can provide itself with own restaurant, own
                    backery, bar, entertainpment, swimming pool and Spa</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Nile " src="../../assets/Nile cruise/Lounge Bar/HAPI V Cruise-30.webp" alt="nile cruise Hapi5">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Nile Cruise</p>
                  <h4>It seems like a small city that can provide itself with own restaurant, own
                    backery, bar, entertainpment, swimming pool and Spa</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Banks " src="../../assets/banks of river Nile/Karnak Temple.webp" alt="luxorAswan">
              <div class="layer ">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Karnak Temple</p>
                  <h4>The Karnak Temple is one of the most extraordinary and vast religious sites in
                    the world</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Banks " src="../../assets/banks of river Nile/The Mortuary Temple of Hatshepsut..webp"
                alt="luxorAswan">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Hatshepsut</p>
                  <h4>The Temple of Hatshepsut, also known as Deir el-Bahari, is one of the most
                    remarkable monuments of ancient Egypt</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Banks " src="../../assets/banks of river Nile/Abu Simbel and the Nubian Monuments..webp"
                alt="luxorAswan">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Abu Simbel</p>
                  <h4>Abu Simbel is one of Egypt’s most iconic archaeological sites </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-work" role="tabpanel" aria-labelledby="pills-work-tab">
        <div class="row">
          <div class="col-md-4  ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-79.webp" alt="dahabeya-bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-87.webp" alt="dahabeya bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-71.webp" alt="dahabeya bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Sun Deck/HAPI V-84.webp" alt="dahabeya bin  dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="work-item ">
              <img class="Dahabeya" src="../../assets/Dahabiaya/Outdoor- Drone/Bens-2.webp" alt="dahabeya bin dahabeya">
              <div class="layer">
                <div class="work-detail text-white text-center">
                  <p class="mb-2">Dahabeya</p>
                  <h4>traditional Egyptian riverboat that has been used for centuries, particularly on
                    the Nile River</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>
  <div class="cover-modul close">
    <div id="imageModal" class="modal ">
      <span class="close">&times;</span>
      <img loading="lazy" class="modal-content w-70" id="modalImage">
      <div id="caption"></div>
    </div>

  </div>
</section>


<section class="FQ pt-5 ">
  <div class="section-con ">
    <div class="section-title  text-center pb-5">
      <h2 data-bigletter="F&Q">FAQ Nile Cruise & Dahabiya </h2>
      <p>Explore the wonders of the ancient Egyptian world in luxury and historic charm on
        the Nile Cruise by Walton Hotels & Resorts.</p>
      <hr>
    </div>
  </div>
  <ul id="nav">
    <div class="row">
      <div class="col-md-1 ps-5">
        <div class="ship"></div>
      </div>
      <div class="col-md-10">
        <li><a class="heading w-50 p-3">What is the best time to visit Egypt?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">The best time to visit Egypt is during winter from October to April, when
                temperatures are
                lower. The most popular time for tourist is December and January. </p>
            </li>
          </ul>
        </li>

        <li><a class="heading w-50 p-3 pb-5">What's the Check-In time for Hapi V?

            <i class="fas fa-angle-down ps-3"></i></a>
          <ul>
            <li>
              <p class="p-3">The Check-in time in Luxor is on Monday starting at 12 pm.
                The Check-in time in Aswan is on Friday starting at 12 pm. </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">What are the meals included in a cruise with Hapi V?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">Included meals are breakfast, lunch and dinner buffet.
              </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">Is there electricity and air-conditioning on board?<i
              class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">There are 220-volt power points all over the boat. As electricity is provided by a
                generator, we have to switch the generator off at night time. The entire boat is
                air-conditioned.</p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">What’s the embarkation of Hapi V?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">The embarkation in Luxor is every Tuesday and the embarkation in Aswan is every Saturday.
              </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">What are the cruise highlights?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">Hapi V is offering highlights in form of cocktailparty/ welcome-party, BBQ on deck, a belly
                dancer show, nubian show, oriental dinner and every day 5 o‘clock tea. </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">Is WiFi available on the cruise?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">Yes, WiFi is available on every floor of the boat.
              </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">Is air conditioning available aboard the cruise?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">Yes, air conditioning is available on board the cruise. </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">Is there single occupancy pricing for the Nile cruise?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">The double cabin can be used as single occupancy for a 20% discount.</p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">Are children allowed on board the cruise and whats the policy? <i
              class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">child from 0 to 05.99 years sharing parents cabin free of charge
                 child from 6 to 11.99 years sharing parents cabin 50% from the half twin rate (max.
                one child)
                 02 children under 12 years old in separate cabin will be as a one SGL. Cabin.
                 01 adult +01 child will be considered as a DbL. Cabin </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">What are the cancellation policies of Hapi V?
            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">Full Payment should be received 30 days before arrival date + scanned copy from payment
                receipt to ensure payment & reconfirm your booking.
                In case payment is not received on due date, the reservation will be automatically released. </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">What's the Location ?

            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">Our dock at Luxor is Eastmar Dock
                At Aswan beauty dock
                Our front desk number - 01025283064
              </p>
            </li>
          </ul>
        </li>
        <li><a class="heading w-50 p-3">What's site attraction?

            <i class="fas fa-angle-down  ps-3 "></i></a>
          <ul>
            <li>
              <p class="p-3">
                At Luxor valley of kings.
                Hatshepsut temple,
                Karank and Luxor temples and many other historical sites.
                At Aswan
                Philae Temple,
                High dam
                Unfinished obelisk
                Abu Simble Temple
              </p>
            </li>
          </ul>
        </li>
      </div>
    </div>


  </ul>

</section>


<section class="Video w-100 ">
  <div class="container">
    <div class="background">
      <video autoplay loop oncanplay="this.muted=true" muted id="background-video">
        <source src="../../assets/Nile cruise/Videos/1C2A0725.MP4" type="video/mp4">
      </video>
      <div class="text">
        <h2>
          Enter a world of enjoyment and pleasure.
        </h2>

      </div>
    </div>


  </div>
</section>